.show-project {
  width: 100%;
  margin-top: -5px;
}

.project-header {
  height: 600px;
  padding: 20px 0 25px 0;
  background-color: #f3f3f3;
}

.project-top {
  width: 1300px;
  margin: 0 auto;
}

.project-title {
  text-align: center;
  width: 100%;
}

.project-title span {
  font-size: 32px;
}

.project-data {
  width: 800px;
  padding-top: 20px;
  padding-left: 30px;
  display: inline-block;
}

.project-data img {
  width: 650px;
  height: 400px;
}

.project-info {
  width:375px;
  display: inline-block;
  vertical-align: top;
  padding-top: 20px;

}

.show-badge p {
  font-size: 42px;
  font-weight: bold;
}

.show-badge span {
  font-size: 14px
}

.project-info #back-btn {
  width: 90%;
  height: 55px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: #00cc66;
  border: 0;
  border-radius: 5px;
  margin: 10px 0 10px 0;
}

.project-info #disclaimer {
  font-size: 14px;
  margin-bottom: 10px;
}

.founders {
  width: 100%;
}

.founders-info {
  width: 45%;
  display: inline-block;
}

.founders-logo {
  width: 45%;
  display: inline-block;
  text-align: center;
}

.founders-info .small-text {
  font-size: 14px;
  margin-bottom: 5px;
}

.founders-info a {
  text-decoration: none;
}

.founders-logo img {
  width: 70px;
  height: 70px;
  border-radius: 100px;
}

.user-control {
  width: 100%;
  text-align: center;
}

.user-control input[type=submit] {
  width: 150px;
  height: 35px;
  font-size: 14px;
  color: white;
  background: #1f7f5c;
  border: 0;
  border-radius: 3px;
  margin: 10px 0 10px 0;
}

.project-navbar {
  width: 750px;
  height: 35px;
  text-align: center;
  margin-left: 100px;
}

.project-navbar ul {
  list-style: none;
}

.project-navbar ul li {
  display: inline-block;
  width: 175px;
  padding: 15px 0 15px;
}

.project-navbar ul li a {
  text-decoration: none;
  color: black;
}

.project-navbar ul li a:hover {
  border-bottom: 3px solid #2BDE73;
  padding: 5px 25px;
}

.project-navbar ul li a span {
  background-color: #e3e3e3;
  font-size: 12px;
  padding: 3px 3px;
  margin-left: 5px;
}

.project-campaign {
  width: 720px;
  margin-left: 100px;
  padding: 25px 25px;
  line-height: 1.5em;
  display: inline-block;
}

.project-rewards {
  width: 360px;
  display: inline-block;
  vertical-align: top;
  padding-top: 25px;
}

.reward {
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 10px;
  padding: 25px 15px;
}

.reward a, .reward a:hover {
  text-decoration: none;
  color: black;
}

.reward:hover {
  background-color: #00cc66;
}

.reward h2 {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.reward .badge {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.reward-description {
  font-size: 15px;
  height: 55px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.reward-extra-info {
  font-size: 15px;
}